.title {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: Center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    flex: 0 0 auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: Justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    flex: 0 0 auto;
    width: 100%;
}